body{
  background-color:#EDE4E0;
}

hr{

  border-style: none;
  border-top: dotted;
  border-color: gray;
  border-width:7px;
  width: 3%;
}
img{
  height: 200px;
}
h1{
   color: #9F73AB;
}
h2{
  color:#9F73AB;
}
h3{
  color:#9F73AB;
}
